<a href="https://colab.research.google.com/github/EsraaMosaad/Practice_NLP/blob/main/step2_data_preprossing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('omw-1.4')
from nltk.corpus import stopwords
from textblob import Word

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

In [4]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

In [8]:
!cp /content/drive/MyDrive/kaggle/kaggle.json ~/.kaggle/kaggle.json
!chmod 600 ~/.kaggle/kaggle.json

In [9]:
!kaggle datasets download -d gauravduttakiit/resume-dataset
!unzip /content/resume-dataset.zip

Downloading resume-dataset.zip to /content
  0% 0.00/383k [00:00<?, ?B/s]
100% 383k/383k [00:00<00:00, 139MB/s]
Archive:  /content/resume-dataset.zip
  inflating: UpdatedResumeDataSet.csv

In [10]:
cv_data=pd.read_csv("/content/UpdatedResumeDataSet.csv")
cv_data

         Category                                             Resume
0    Data Science  Skills * Programming Languages: Python (pandas...
1    Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2    Data Science  Areas of Interest Deep Learning, Control Syste...
3    Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4    Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...
..            ...                                                ...
957       Testing  Computer Skills: â¢ Proficient in MS office (...
958       Testing  â Willingness to accept the challenges. â ...
959       Testing  PERSONAL SKILLS â¢ Quick learner, â¢ Eagerne...
960       Testing  COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...
961       Testing  Skill Set OS Windows XP/7/8/8.1/10 Database MY...

[962 rows x 2 columns]

In [11]:
job_data=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Graduation_project/dataset/job_data10_4_2023.csv")
job_data

,Job_title,Job_link,Job_description,Keyword
0,DevOps Engineer,https://eg.linkedin.com/jobs/view/devops-engin...,We are looking for a DevOps Engineer to join o...,scrab_ddata
1,DevOps Engineer,https://eg.linkedin.com/jobs/view/devops-engin...,Who We Are\n\nWe are owned and funded by one o...,scrab_ddata
2,DevOps Engineer,https://eg.linkedin.com/jobs/view/devops-engin...,"Wind-IS Company, an Oracle Partner in Egypt, K...",scrab_ddata
3,Cloud Infrastructure Engineer,https://eg.linkedin.com/jobs/view/cloud-infras...,Who We Are\n\nWe are owned and funded by one o...,scrab_ddata
4,DevOps Engineer,https://eg.linkedin.com/jobs/view/devops-engin...,About Axis\n\nWe believe that financial servic...,scrab_ddata
...,...,...,...,...
28292,Global Investigator,NaN,Develop protocols and practices to assess and ...,google_job_skills
28293,Campus Security Manager,NaN,Manage the daily operations of the security ve...,google_job_skills
28294,Facilities Manager,NaN,Collaborate with functional teams; plan and ma...,google_job_skills
28295,Physical Security Manager,NaN,Partner closely with and offer guidance and co...,google_job_skills
28296,Physical Security Manager,NaN,Partner closely with and offer guidance and co...,google_job_skills

In [12]:
def data_preprossing(text):
    ## Lower case
    text = text.apply(lambda x: " ".join(x.lower()for x in x.split()))
    ## remove tabulation and punctuation
    text = text.str.replace('[^\w\s]',' ', regex=True)

    ## digits
    text = text.str.replace('\d+', '', regex=True)
    text = text.apply(lambda x: ''.join([" " if ord(i) < 32 or ord(i) > 126 else i for i in x]))

    #remove stop words
    stop = stopwords.words('english')
    text= text.apply(lambda x: " ".join(x for x in x.split() if x not in stop))

    # ## lemmatization
    # text= text.apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

    return text

In [ ]:
job_data['Keyword']=data_preprossing(job_data['Keyword'])
job_data['Job_title']=data_preprossing(job_data['Job_title'])
job_data['Job_description']=data_preprossing(job_data['Job_description'])
job_data

,Job_title,Job_link,Job_description,Keyword
0,devops engineer,https://eg.linkedin.com/jobs/view/devops-engin...,looking devops engineer join team develop soft...,scrab_ddata
1,devops engineer,https://eg.linkedin.com/jobs/view/devops-engin...,owned funded one egypt renowned tech driven fi...,scrab_ddata
2,devops engineer,https://eg.linkedin.com/jobs/view/devops-engin...,wind company oracle partner egypt ksa uae hiri...,scrab_ddata
3,cloud infrastructure engineer,https://eg.linkedin.com/jobs/view/cloud-infras...,owned funded one egypt renowned tech driven fi...,scrab_ddata
4,devops engineer,https://eg.linkedin.com/jobs/view/devops-engin...,axis believe financial services accessible sim...,scrab_ddata
...,...,...,...,...
28292,global investigator,NaN,develop protocols practices assess mitigate th...,google_job_skills
28293,campus security manager,NaN,manage daily operations security vendors provi...,google_job_skills
28294,facilities manager,NaN,collaborate functional teams plan manage deliv...,google_job_skills
28295,physical security manager,NaN,partner closely offer guidance consultation fa...,google_job_skills
28296,physical security manager,NaN,partner closely offer guidance consultation fa...,google_job_skills

In [ ]:
category_job = job_data['Keyword'].value_counts().reset_index()
category_job

                           index  Keyword
0                    it_job_data    15069
1                   kaggel_ddata     2253
2           software engineering     1810
3                    scrab_ddata     1706
4                web development     1475
5              google_job_skills     1250
6   mobile application developer     1146
7        artificial intelligence      969
8      embedded systems engineer      886
9      quality assurance manager      462
10      cybersecurity specialist      443
11             robotics engineer      299
12                 web developer      272
13                data scientist      257

In [13]:
import pandas as pd
import spacy
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [14]:
# Load the language model
nlp = spacy.load('en_core_web_sm')
vectorizer = TfidfVectorizer(stop_words='english')

# Define a function to extract skills from a job description
def extract_skills(text):
    doc = nlp(text)
    skills = []
    # print(doc.ents)
    for ent in doc.ents:
        if ent.label_ == 'ORG':
            skills.append(ent.text)
            # print(:skills)
    return list(set(skills))

In [15]:
# Extract skills from each job description and create a TF-IDF matrix
corpus = job_data['Job_description'].tolist()
skills = [extract_skills(text) for text in corpus]
corpus_skills = [' '.join(text) for text in skills]
tfidf_matrix = vectorizer.fit_transform(corpus_skills)

In [63]:
job_data["skills"]=skills

In [64]:
job_data[:10]

,Job_title,Job_link,Job_description,Keyword,skills
0,DevOps Engineer,https://eg.linkedin.com/jobs/view/devops-engin...,We are looking for a DevOps Engineer to join o...,scrab_ddata,"[AWS, GCP, Identify, DevOps Engineer]"
1,DevOps Engineer,https://eg.linkedin.com/jobs/view/devops-engin...,Who We Are\n\nWe are owned and funded by one o...,scrab_ddata,"[Klivvr, Terraform, DevOps Engineer, Kubernete..."
2,DevOps Engineer,https://eg.linkedin.com/jobs/view/devops-engin...,"Wind-IS Company, an Oracle Partner in Egypt, K...",scrab_ddata,[Social + Medical Insurance\nFriendly Environm...
3,Cloud Infrastructure Engineer,https://eg.linkedin.com/jobs/view/cloud-infras...,Who We Are\n\nWe are owned and funded by one o...,scrab_ddata,"[Klivvr, AWS & MS, DHCP, GPO,, DNS, Join the M..."
4,DevOps Engineer,https://eg.linkedin.com/jobs/view/devops-engin...,About Axis\n\nWe believe that financial servic...,scrab_ddata,"[DevOps Engineer, Google, Kubernetes, PKI, Dev..."
5,DevOps Engineer,https://eg.linkedin.com/jobs/view/devops-engin...,Envision Employment Solutions is currently on ...,scrab_ddata,"[Azure Active Directory, Envision Employment S..."
6,DevOps Engineer,https://eg.linkedin.com/jobs/view/devops-engin...,Connect Ads is one of the leading digital medi...,scrab_ddata,"[Nginx, Yahoo, EMEA, Shazam, Verizon Media, Sp..."
7,DevOps Engineer,https://eg.linkedin.com/jobs/view/devops-engin...,Main Responsibilities\n\n\n\n\nWe're looking f...,scrab_ddata,"[Nginx, LAMP, MySQL & Mongodb, Main Requiremen..."
8,DevOps Engineer,https://eg.linkedin.com/jobs/view/devops-engin...,\n\n\nEgybell is hiring for multinational Amer...,scrab_ddata,"[• Excellent, Unix Operating Systems, Amazon A..."
9,DevOps Engineer,https://eg.linkedin.com/jobs/view/devops-engin...,Ready and hungry for a new adventure? You are ...,scrab_ddata,"[Computer Science or Engineering\nCandidates, ..."

In [16]:
cv_data['Resume'][0]

'Skills * Programming Languages: Python (pandas, numpy, scipy, scikit-learn, matplotlib), Sql, Java, JavaScript/JQuery. * Machine learning: Regression, SVM, NaÃ¯ve Bayes, KNN, Random Forest, Decision Trees, Boosting techniques, Cluster Analysis, Word Embedding, Sentiment Analysis, Natural Language processing, Dimensionality reduction, Topic Modelling (LDA, NMF), PCA & Neural Nets. * Database Visualizations: Mysql, SqlServer, Cassandra, Hbase, ElasticSearch D3.js, DC.js, Plotly, kibana, matplotlib, ggplot, Tableau. * Others: Regular Expression, HTML, CSS, Angular 6, Logstash, Kafka, Python Flask, Git, Docker, computer vision - Open CV and understanding of Deep learning.Education Details \r\n\r\nData Science Assurance Associate \r\n\r\nData Science Assurance Associate - Ernst & Young LLP\r\nSkill Details \r\nJAVASCRIPT- Exprience - 24 months\r\njQuery- Exprience - 24 months\r\nPython- Exprience - 24 monthsCompany Details \r\ncompany - Ernst & Young LLP\r\ndescription - Fraud Investigations and Dispute Services   Assurance\r\nTECHNOLOGY ASSISTED REVIEW\r\nTAR (Technology Assisted Review) assists in accelerating the review process and run analytics and generate reports.\r\n* Core member of a team helped in developing automated review platform tool from scratch for assisting E discovery domain, this tool implements predictive coding and topic modelling by automating reviews, resulting in reduced labor costs and time spent during the lawyers review.\r\n* Understand the end to end flow of the solution, doing research and development for classification models, predictive analysis and mining of the information present in text data. Worked on analyzing the outputs and precision monitoring for the entire tool.\r\n* TAR assists in predictive coding, topic modelling from the evidence by following EY standards. Developed the classifier models in order to identify "red flags" and fraud-related issues.\r\n\r\nTools & Technologies: Python, scikit-learn, tfidf, word2vec, doc2vec, cosine similarity, NaÃ¯ve Bayes, LDA, NMF for topic modelling, Vader and text blob for sentiment analysis. Matplot lib, Tableau dashboard for reporting.\r\n\r\nMULTIPLE DATA SCIENCE AND ANALYTIC PROJECTS (USA CLIENTS)\r\nTEXT ANALYTICS - MOTOR VEHICLE CUSTOMER REVIEW DATA * Received customer feedback survey data for past one year. Performed sentiment (Positive, Negative & Neutral) and time series analysis on customer comments across all 4 categories.\r\n* Created heat map of terms by survey category based on frequency of words * Extracted Positive and Negative words across all the Survey categories and plotted Word cloud.\r\n* Created customized tableau dashboards for effective reporting and visualizations.\r\nCHATBOT * Developed a user friendly chatbot for one of our Products which handle simple questions about hours of operation, reservation options and so on.\r\n* This chat bot serves entire product related questions. Giving overview of tool via QA platform and also give recommendation responses so that user question to build chain of relevant answer.\r\n* This too has intelligence to build the pipeline of questions as per user requirement and asks the relevant /recommended questions.\r\n\r\nTools & Technologies: Python, Natural language processing, NLTK, spacy, topic modelling, Sentiment analysis, Word Embedding, scikit-learn, JavaScript/JQuery, SqlServer\r\n\r\nINFORMATION GOVERNANCE\r\nOrganizations to make informed decisions about all of the information they store. The integrated Information Governance portfolio synthesizes intelligence across unstructured data sources and facilitates action to ensure organizations are best positioned to counter information risk.\r\n* Scan data from multiple sources of formats and parse different file formats, extract Meta data information, push results for indexing elastic search and created customized, interactive dashboards using kibana.\r\n* Preforming ROT Analysis on the data which give information of data which helps identify content that is either Redundant, Outdated, or Trivial.\r\n* Preforming full-text search analysis on elastic search with predefined methods which can tag as (PII) personally identifiable information (social security numbers, addresses, names, etc.) which frequently targeted during cyber-attacks.\r\nTools & Technologies: Python, Flask, Elastic Search, Kibana\r\n\r\nFRAUD ANALYTIC PLATFORM\r\nFraud Analytics and investigative platform to review all red flag cases.\r\nâ\x80¢ FAP is a Fraud Analytics and investigative platform with inbuilt case manager and suite of Analytics for various ERP systems.\r\n* It can be used by clients to interrogate their Accounting systems for identifying the anomalies which can be indicators of fraud by running advanced analytics\r\nTools & Technologies: HTML, JavaScript, SqlServer, JQuery, CSS, Bootstrap, Node.js, D3.js, DC.js'

In [48]:
CV=""" am a student at faculty of computers and Artificial intelligence, Cairo university, AI department. I have worked on multi core problems across object detection using YOLO5, nlp
(text preprocessing , question generation and answering ).I am Inquisitive about Natural language processing, time series analysis, predictions and machine learning
applications.Machine learning motivates me and gives me reason to think, innovate, dream, build and share with word.
Professional Experience
Artificial Intelligent Intern National Telecommunication Institute (NTI)| September 2022- September 2022
I learned a lot and overcame an obstacle in handling and preparing data to be used in a machine-learning model. I used more than one dataset such as covid-19, iris, mnist,
cifar10, bosting_housing, breast cancer, and fashion dataset.
I have tried more models like naive_bayes, KMEAN, KNN, SVM, DecisionTreeClassifie, NN, CNN, VGG16, AlexNet, LeNet-5, and RNN.
I also trained to improve soft skills like Communication skills, Interview skills, Presentation skills ,Leadership skills, Teamwork skills, Decision Making, and Problem Solving skills,
Time management skills
Assistant c++ Courses student activity 180 degree | March 2022- March 2022
Helping novice students learn C++ and follow up with them in solving Tasks
Education
Bachelor in Artificial Intelligence FACULTY OF COMPUTERS SCINCE AND ARTIFICIAL INTELLIGENCEat Cario university | September 2019 - Present
Related Courses: Machine Learning, Deep Learning, Data Structure, Algorithm, Robotics, Operating System
Key Skills
EA
Esraa
Abdelrazek
Artificial Intelligence Engineer
enew.abdelrazek0123@gmail.com
+01114356194
Github: https://github.com/EsraaMosaad
Expert knowledge of deep learning tecniques such as CNN,RNN,LSTMAND GAN
Proficient python programming skills and experience using ML-related libraries
Excellent communication skills, teamwork ,results-oriented attitude and problem solving
knowledge of Natural Language Processing(NLP)"""

In [49]:
cv_id=600
cv_skills = extract_skills(CV)
cv_skills_str = ' '.join(cv_skills)
cv_tfidf = vectorizer.transform([cv_skills_str])

In [50]:
# Compute cosine similarity between the CV vector and the job description matrix
similarity_scores = cosine_similarity(cv_tfidf, tfidf_matrix)

In [54]:
n=10
def get_top_n(n):
  top_jobs_indices = similarity_scores.argsort()[0][::-1][:10]
  for i in top_jobs_indices:
    jobs =job_data.iloc[i]['Job_title']
    print(job_data.iloc[i]['Job_title'],similarity_scores[0][i],i,"-->",job_data.iloc[i]['Keyword'])

In [52]:
cv_skills_str

'Artificial ML-related AI department NN Communication SVM RNN CNN Artificial Intelligence Engineer LSTMAND GAN Time Artificial Intelligent Intern National Telecommunication Institute LeNet-5 Deep Learning Decision Making EA\nEsraa DecisionTreeClassifie KMEAN Teamwork KNN Problem Solving Robotics'

In [55]:
# Find the top 10 jobs with the highest similarity scores

print(f"Name for CV {cv_id} :  {cv_data['Category'][cv_id]}",)
print("Recommended top 5 job")
get_top_n(n)

Name for CV 600 :  DevOps Engineer
Recommended top 5 job
Artificial Intelligence Specialist 0.46629907394396997 5384 --> Artificial Intelligence
Senior Software Development Engineer in Test (Python) 0.4631266143863026 7523 --> artificial intelligence
AI/ML Software Developer 0.42372071106991005 7149 --> artificial intelligence
Systems Engineer 0.40933433784307743 11563 --> Robotics engineer
Developer, Data Science 0.40346077344523884 10613 --> Mobile application developer
Developer, Data Science 0.40346077344523884 8488 --> software engineering
Manager, Data & AI Risk 0.3952041675552793 7072 --> artificial intelligence
Senior Data Scientist 0.3866680389526821 7067 --> artificial intelligence
AI/ML Engineer 0.34986840394322893 4409 --> Data Scientist
 Senior level Ruby on Rails Web App and Machine Learning developer  0.33801653049118086 510 --> scrab_ddata

In [57]:
extract_skills(job_data['Job_description'][5384])

['Artificial Intelligence',
 'AI',
 'Formulate Artificial Intelligence',
 'Artificial']

In [58]:
job_data['Job_description'][5384]

"You will influence how artificial intelligence is used. Your mission will be to utilise AI's potential and assist the organisation in achieving its objectives.\n\nFormulate Artificial Intelligence strategies.\nSupervise research and development processes and other processes to make sure they fulfil the needs of AI strategies.\nRecognize the companys goals and also the challenges faced by potential clients.\nFigure out the ways in which Artificial intelligence can be used to solve issues faced by clients and also enhance user experience.\nCollaborate with cross-functional teams to analyse the partners business and main areas where the application of AI can stimulate business growth.\nSet high ethical standards while applying Artificial Intelligence.\nDescribe AI solutions clearly to everyone.\nDevelop an efficient prototype.\nWork closely with the executives and engineers to finalize the design.\nManage the AI team to perform tasks like the assessment of AI, automation market, etc.\nPerform tests before the delivery final application.\nAnalyse the final project, give feedback, determine areas of improvement, and help the project team to make necessary changes.\nBachelors degree in Computer Science or other related courses.\nProven experience in Artificial Intelligence, deep learning, and other relevant fields.\nFamiliarity with functional design principles, object-oriented programming principles, basic algorithms.\nHands-on experience in REST API and designs such as RDBMS design, NoSQL design.\n\n£65K-£85K depending on their level of experience\n\nPlusannual leave allowance, increasing with length of service\n\nAnnual leave buy/sell scheme\n\nFlexible working home /office\n\nPension scheme to look after your future\n\nHealth and wellbeing benefits\n\ngreat company culture"

In [ ]:
# Extract skills from each job description and save them in a new column
job_data['skills'] = job_data['Job_description'].apply(extract_skills)

In [65]:
# Save the updated data to a new CSV file
job_data.to_csv('job_descriptions_with_skills.csv', index=False)

In [ ]:
from nltk import ngrams
from nltk.tokenize import word_tokenize


def n_grams(lines, min_length=2, max_length=4):
    tokens = word_tokenize(lines)
    ngrams = {n: ngrams(tokens, n) for n in range(min_length, max_length + 1)}
    return ngrams

# **Extract skills**

In [ ]:
import requests
import json
import numpy as np
import pandas as pd
from pandas import json_normalize # easy JSON -> pd.DataFrame

In [ ]:
auth_endpoint = "https://auth.emsicloud.com/connect/token" # auth endpoint

client_id = "slgik8pr7quhi6pj" # replace 'your_client_id' with your client id from your api invite email
client_secret = "LFc8uf8v" # replace 'your_client_secret' with your client secret from your api invite email
scope = "emsi_open" # ok to leave as is, this is the scope we will used

payload = "client_id=" + client_id + "&client_secret=" + client_secret + "&grant_type=client_credentials&scope=" + scope # set credentials and scope
headers = {'content-type': 'application/x-www-form-urlencoded'} # headers for the response
access_token = json.loads((requests.request("POST", auth_endpoint, data=payload, headers=headers)).text)['access_token'] # grabs request's text and loads as JSON, then pulls the access token from that

In [ ]:
job_data['Job_description'][1]

In [ ]:
def extract_skills_list():
  all_skills_endpoint = "https://emsiservices.com/skills/versions/latest/skills" # List of all skills endpoint
  auth = "Authorization: Bearer " + access_token # Auth string including access token from above
  headers = {'authorization': auth} # headers
  response = requests.request("GET", all_skills_endpoint, headers=headers) # response
  response = response.json()['data'] # the data

  all_skills_df = pd.DataFrame(json_normalize(response)); # Where response is a JSON object drilled down to the level of 'data' key
  return all_skills_df

skills_list=extract_skills_list()

In [ ]:
df=skills_list.loc[:,['name','type.name']]
df.to_csv("/content/drive/MyDrive/Colab Notebooks/Graduation_project/dataset/all_skills_list.csv", index=False)

In [ ]:
np.unique(df['type.name'])

array(['Certification', 'Common Skill', 'Specialized Skill'], dtype=object)

In [ ]:
# Extract skills from a document
def extract_skills_from_document(text,confidence_interval):
  skills_from_doc_endpoint = "https://emsiservices.com/skills/versions/latest/extract"
  #text = input("Paste the text from which you want to extract skills here: ")
  #confidence_interval = str(0.4) #str(input(".1 to 1, enter the confidence threshold you're willing to accept: "))
  payload = "{ \"text\": \"... " + text + " ...\", \"confidenceThreshold\": " + confidence_interval + " }"

  headers = {
      'authorization': "Bearer " + access_token,
      'content-type': "application/json"
      }

  response = requests.request("POST", skills_from_doc_endpoint, data=payload.encode('utf-8'), headers=headers)
  print( response.json())
  skills_found_in_document_df = pd.DataFrame(json_normalize(response.json()['data'])) # Where response is a JSON object drilled down to the level of 'data' key

  return skills_found_in_document_df["skill.name"]#.loc[:,["skill.name","skill.id"]]

# extract_skills_from_document(job_data['Job_description'][0])

In [ ]:
import requests

import json

In [ ]:
resume = job_data['Job_description'][9]
url = "https://api.iki.ai/api/skills_extraction/"



payload = {
    "text":str(resume[0:2000])
}


headers = {
    'Content-Type': 'application/json'
}

print(len(resume))
final_data = json.dumps(payload)

r = requests.post(url=url, headers=headers, data=final_data)
print(r.json())

2744

In [ ]:
#Import all the dependencies
from gensim.models.doc2vec import Doc2Vec, TaggedDocument
from nltk.tokenize import word_tokenize

In [ ]:
tagged_data = [TaggedDocument(words=word_tokenize(_d.lower()), tags=[str(i)]) for i, _d in enumerate(job_data['Job_description'])]

In [ ]:
raw_skills=["C++","Python","Aerobic Organisms"]#word_tokenize(job_data['Job_description'][0])

In [ ]:
list(extract_skills_list()["name"])

In [ ]:
top_technical_skills= list(set(list(extract_skills_list()["name"])).intersection(raw_skills))

In [ ]:
top_technical_skills

['Aerobic Organisms']

In [ ]:
extract_skills_from_document(job_data['Job_description'][9],str(0.4))

{'message': "You have met your monthly limit on skills extraction; please contact us at https://api.emsidata.com/contact if you'd like to raise this limit."}

KeyError: ignored

In [ ]:
max_epochs = 100
vec_size = 50
alpha = 0.025

model = Doc2Vec(vector_size=vec_size,
                alpha=alpha,
                min_alpha=0.0025,
                min_count=1,
                dm =1)

model.build_vocab(tagged_data)

In [ ]:
tagged_data=[]
# for i , _d in enumerate(job_description): #job_data['Text']
for i,text in enumerate(job_data['Job_description']) :
      skill = extract_skills_from_document(text)
      print(f"Skills is {i} : ",list(skill))
      tagged_data.append(TaggedDocument(words=skill, tags=[str(i)]))

In [ ]:
# Looking up the ID of a skill based on the name, or whether it contains something
# Could be useful in coming up with a search function for the end user

def find_id_by_skill_name(name_substring):
  all_skills_df = extract_skills_list() # pull all skills into a DF

  return all_skills_df[all_skills_df['name'].str.contains(name_substring)] # Filter that DF by substring

find_id_by_skill_name("game")

,id,infoUrl,name,type.id,type.name
1561,KS1204X6GVG40RP0QKNQ,https://skills.emsidata.com/skills/KS1204X6GVG...,Anterior Cruciate Ligament Reconstruction,ST1,Specialized Skill
10570,KS4416162NM64G7KRG62,https://skills.emsidata.com/skills/KS4416162NM...,Endgame Tablebase,ST1,Specialized Skill
18828,KS4OUGP2711W4E1GK7LB,https://skills.emsidata.com/skills/KS4OUGP2711...,Megamenu,ST1,Specialized Skill
19718,KS78E16ZZHZ2APJZR6IV,https://skills.emsidata.com/skills/KS78E16ZZHZ...,Monogame,ST1,Specialized Skill

In [ ]:
# Skills IDs to find related skills to:
# Python (Programming Language): KS125LS6N7WP4S6SFTCK
# Pandas (Python Package): KSGWPO6DSN70GRY20JFT


url = "https://emsiservices.com/skills/versions/latest/related"

payload = "{ \"ids\": [ \"KS125LS6N7WP4S6SFTCK\", \"KSGWPO6DSN70GRY20JFT\" ] }"
headers = {
    'authorization': "Bearer " + access_token,
    'content-type': "application/json"
    }

response = requests.request("POST", url, data=payload, headers=headers)
related_skills_df = pd.DataFrame(json_normalize(response.json()['data']))

related_skills_df

,id,infoUrl,name,type.id,type.name
0,KS120D96FHL88PZDKZKH,https://skills.emsidata.com/skills/KS120D96FHL...,Algorithms,ST1,Specialized Skill
1,KS1200364C9C1LK3V5Q1,https://skills.emsidata.com/skills/KS1200364C9...,C (Programming Language),ST1,Specialized Skill
2,KS1219W70LY1GXZDSKW5,https://skills.emsidata.com/skills/KS1219W70LY...,C++ (Programming Language),ST1,Specialized Skill
3,KS7LO8P3MXB93R3C9RWL,https://skills.emsidata.com/skills/KS7LO8P3MXB...,Data Science,ST1,Specialized Skill
4,KS122VT6S2JJ5C5D80NF,https://skills.emsidata.com/skills/KS122VT6S2J...,Linux,ST1,Specialized Skill
5,KS1261Z68KSKR1X31KS3,https://skills.emsidata.com/skills/KS1261Z68KS...,Machine Learning,ST1,Specialized Skill
6,KS123GK6Z30G7QTFCY4N,https://skills.emsidata.com/skills/KS123GK6Z30...,Perl (Programming Language),ST1,Specialized Skill
7,KS124DQ6JX0NX9DBFDM8,https://skills.emsidata.com/skills/KS124DQ6JX0...,R (Programming Language),ST1,Specialized Skill
8,KS7G0C36YW29VS8KPC05,https://skills.emsidata.com/skills/KS7G0C36YW2...,Scripting,ST1,Specialized Skill
9,KS440Y975RD841M02V3S,https://skills.emsidata.com/skills/KS440Y975RD...,Statistics,ST1,Specialized Skill